<div class="link-container">
  <h1 class="link-title">
    <%= @user.subscribed ? 'confirm your update!' : 'confirmation sent!' %>
  </h1>
  <p class="link-text">
    <% if @user.subscribed %>
      I've just sent a link to <strong><%= @user.email %></strong>.<br>Please click on the link to apply your changes!
    <% else %>
      I've just sent a link to <strong><%= @user.email %></strong>.<br>Please click on the link to verify your subscription!
  <% end %>
  </p>

  <br>

  <div class="home-link">
    <%= link_to 'Return to home', root_path %>
  </div>
</div>
