<%= simple_form_for @user, url: '/submit', html: { id: 'main-form' } do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="left-pane col-md-5">
          <div class="left-pane-contents">
            <div class="header">
              <span class="header1">course</span><span class="header2">alert</span>
            </div>

            <div class="form-section email-section">
              <div class="form-group email required user_email">
                <div class="input-group">
                  <%= f.input_field :email,
                    label: false,
                    placeholder: 'email@stanford.edu',
                    class: 'form-control',
                    required: ''
                  %>

                  <span class="input-group-btn">
                    <button id="login-btn" type="button" class="btn btn-default">Login</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="instructions">
              <div id="what-do">
                <div class="instr-title">
                  what do
                </div>
                <div class="instr-body">
                  <p>Sign up to get emails whenever new courses are added to ExploreCourses.</p>
                  <p>Alerts go out once or twice a week, and only if I see anything new from your list.</p>
                </div>
              </div>

              <div id="how-do">
                <div class="instr-title">
                  how do
                </div>
                <div class="instr-body">
                  <ol>
                    <li>Login with email (loads previous settings if any)</li>
                    <li>Check off departments you'd want updates from</li>
                    <li>Click "Submit"</li>
                    <li>Confirm changes by clicking on email link</li>
                  </ol>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="select-buttons">
          <button id="select-all-btn" type="button" class="btn btn-default">Select All</button>
          <button id="deselect-all-btn" type="button" class="btn btn-default">Deselect All</button>
          <button id="submit-btn" type="submit" class="btn btn-success">Submit!</button>
        </div>
        <div class="right-pane">
          <div class="right-pane-contents">
            <div class="form-section subject-settings-section">
              <% UrlHelper.get_departments.each do |school| %>
                <div class="col-1">
                  <%= f.input :pending_subject_settings,
                    collection: Hash[school['departments'].select { |d| d['col'] == 1 }.collect { |d| ["#{d['name']} (#{d['code']})", "#{d['code']}"] }],
                    label: school['school'],
                    input_html: { multiple: true },
                    required: false,
                    as: :check_boxes
                  %>
                </div>

                <div class="col-2">
                  <%= f.input :pending_subject_settings,
                    collection: Hash[school['departments'].select { |d| d['col'] == 2 }.collect { |d| ["#{d['name']} (#{d['code']})", "#{d['code']}"] }],
                    label: false,
                    input_html: { multiple: true },
                    required: false,
                    as: :check_boxes
                  %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>