<div class="link-container">
  <h1 class="link-title">Unsubscribed!</h1>
  <p class="link-text">
    You will no longer receive any email updates.
  </p>

  <br>

  <div class="home-link">
    <%= link_to 'Return to home', root_path %>
  </div>
</div>
