<div class="link-container">
  <h1 class="link-title">unsubscribed!</h1>
  <p class="link-text">
    You will no longer receive any email updates at <strong><%= @user.email %></strong>.
  </p>

  <br>

  <div class="home-link">
    <%= link_to 'Return to home', root_path %>
  </div>
</div>
