<div class="link-container">
  <h1 class="link-title">Got it!</h1>
  <p class="link-text">
    I've just applied your new settings! I'll let you know if there are new courses you'd like.
    <br>
    Thanks for subscribing!
  </p>

  <br>

  <div class="home-link">
    <%= link_to 'Return to home', root_path %>
  </div>
</div>
