<div class="link-container">
  <h1 class="link-title">Something went wrong...</h1>
  <p class="link-text">
    Feel free to contact me to troubleshoot!
  </p>

  <br>

  <div class="home-link">
    <%= link_to 'Return to home', root_path %>
  </div>
</div>
