// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,700';

// INSTRUCTIONS
.instructions {
  margin-top: 10%;
  font-family: 'Avenir', 'Helvtica', sans-serif;
}

.instr-title {
  font-size: 20px;
  font-weight: 700;
}

#how-do {
  margin-top: 10px;
}

#what-do .instr-body {
  padding-left: 1.5em;
}

.instr-body {
  font-size: 13px;
}

// HOME

@media (min-width: 992px) {
  .left-pane {
    position: fixed !important;
    margin-top: 10% !important;
  }

  .right-pane {
    margin-left: 0% !important;
  }

  .right-pane-contents {
    margin-top: 60px !important; // clears the fixed bar
  }

  .select-buttons {
    position: fixed !important;
    padding-left: 3% !important;
    text-align: initial !important;
  }
}

.select-buttons {
  width: inherit;
  z-index: 9;
  background-color: white;
  opacity: 1 !important;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.subject-settings-section {
  font-family: 'Avenir', 'Helvtica', sans-serif;
  font-size: 12px;
}

.header {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.header1 {
  font-weight: 300;
}

.header2 {
  font-weight: 700;
  color: #b11b1b;
}

.color {
  color: #820000;
}

.right-pane {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 7%;
}

.left-pane-contents, .right-pane-contents {
  margin: 0 auto;
}

.left-pane-contents {
  width: 75%;
}

.right-pane-contents {
  opacity: 0.5;
  width: 90%;
}

#user_email {
  z-index: 3;
}

// Get rid of yellow highlighting for autocomplete
.form-control[readonly] {
  -webkit-box-shadow: 0 0 0px 1000px #eee inset !important;
}

.form-control {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

// Columns for checkboxes

.school-container {
}

.col-1, .col-2 {
  position: relative;
  display: inline-block;
  width: 49%;
}

// Link pages

.link-container {
  text-align: left;
  position: absolute;
  width: 100%;
  top: 20%;
  left: 20%;
}

.link-title {
  font-size: 48px;
}

.link-text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 13px;
}