// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subject-settings-section {
  display: none;
}

.main-container {
  margin: 0 auto;
  width: 60%;
}

.header {
  text-align: center;
}