// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

// HOME
.subject-settings-section {
  font-family: 'Avenir', 'Helvtica', sans-serif;
}

.header {
  font-size: 48px;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
}

.left-pane {
  padding-left: 5%;
  width: 35%;
}

.right-pane {
  padding-left: 5%;
  width: 65%;
}

.left-pane {
  float: left;
  position: fixed;
  top: 28%;
}

.right-pane {
  float: right;
  margin-top: 3%;
  margin-bottom: 3%;
}

.left-pane-contents, .right-pane-contents {
  margin: 0 auto;
}

.left-pane-contents {
  width: 80%;
}

.right-pane-contents {
  width: 100%;
}

// Get rid of yellow highlighting for autocomplete

.form-control[readonly] {
  -webkit-box-shadow: 0 0 0px 1000px #eee inset !important;
}

.form-control {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

// Get rid of blue input glow

input.form-control, input.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

// Columns for checkboxes

.school-container {
}

.col-1, .col-2 {
  position: relative;
  display: inline-block;
  width: 49%;
}

// Link pages

.link-container {
  text-align: left;
  position: absolute;
  width: 100%;
  top: 20%;
  left: 20%;
}

.link-title {
  font-size: 48px;
}

.link-text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 13px;
}